
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-github:before { content: '\f055'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
